<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="Angular/angular.min.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <select ng-model="selectedName" ng-options="x for x in names">

        </select><br>
{{names}}
    </div>
    <script>
        /*
        <select>
<option ng-repeat="x in names">{{x}}</option>
</select>
*/
        var app=angular.module('myApp', []);
        app.controller('myCtrl', function($scope){
            $scope.names=["Emil", "Tobias", "Linus", "Menito", "Mona"];
        });
    </script>
</body>
</html>