figure {
    float: left;
    width: 50%;
    text-align: center;
    font-style: italic;
    font-size: 15;
    text-indent: 0;
    border: thin red solid;
    margin: 0.5em;
    padding: 0.5em;
   }